<p> A current list of subscribers </p>
<ul>
 <% @subscribers.each() do |subscriber| %>
        <li>
        	<p>
        		<%= subscriber.name %>
        	</p>
        </li>
 <% end %>
</ul>
<p>
	<%= @subscribers.length %>
</p>